body {
  border-style: solid;
  padding: 10px;
}

.PlanesList {
  border-style: solid;
  padding: 10px;
}

.PlaneCard {
  border-style: solid;
  padding: 10px;
}

.PlaneInfo {
  border-style: solid;
  padding: 10px;
}

.PilotCard {
  border-style: solid;
  padding: 10px;
}

.SeatCard {
  border-style: solid;
  padding: 10px;
}

.CustomerForm {
  border-style: solid;
  padding: 10px;
}